@model ST10140587_CLDV6212_Part2.Models.Product

<h2 class="mb-4">Add New Product</h2>

<form asp-action="AddProduct" method="post" enctype="multipart/form-data">
    <div class="mb-3 form-floating">
        <input type="text" class="form-control" id="ProductName" name="Product_Name" placeholder="Product Name" required />
        <label for="ProductName">Name</label>
    </div>
    <div class="mb-3 form-floating">
        <textarea class="form-control" id="ProductDescription" name="Product_Description" placeholder="Product Description" style="height: 100px"></textarea>
        <label for="ProductDescription">Description</label>
    </div>
    <div class="mb-3">
        <label class="form-label" for="ProductImage">Image</label>
        <input type="file" class="form-control" id="ProductImage" name="file" required />
    </div>
    <div class="mb-3 form-floating">
        <input type="number" class="form-control" id="ProductPrice" name="Price" placeholder="Price" required />
        <label for="ProductPrice">Price</label>
    </div>
    <button type="submit" class="btn btn-primary">Add Product</button>
</form>
