@model ST10140587_CLDV6212_Part2.Models.Product

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Product_Name" class="control-label"></label>
        <input asp-for="Product_Name" class="form-control" />
        <span asp-validation-for="Product_Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product_Description" class="control-label"></label>
        <input asp-for="Product_Description" class="form-control" />
        <span asp-validation-for="Product_Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ProductImage" class="control-label">Upload Product Image</label>
        <input type="file" name="ProductImage" id="ProductImage" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
