@model IEnumerable<ST10140587_CLDV6212_Part2.Models.User>
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]



<h1>Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>  
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)

        {
                <tr>
                    <td>@customer.User_Name</td>
                    <td>@customer.Email</td>  
                    <td>
                        <form asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" name="partitionKey" value="@customer.PartitionKey" />
                            <input type="hidden" name="rowKey" value="@customer.RowKey" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this customer?');">Delete</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>
