<div class="container">
    <!-- Banner Section -->
    <div class="jumbotron text-center">
        <h1>Welcome to ABC Retail</h1>
        <p>Your one-stop shop for console games!</p>
    </div>


    <!-- Simulation Games Section -->
    <div class="row">
        <div class="col-md-12">
            <h2>Simulation Games</h2>
            <hr />
        </div>

        <!-- Example Simulation Game 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/Sims4.png" class="card-img-top" alt="Simulation Game 1">
                <div class="card-body">
                    <h5 class="card-title">The Sims 4</h5>
                    <p class="card-text">Create and control people in a virtual world where there are no rules.</p>
                </div>
            </div>
        </div>

        <!-- Example Simulation Game 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/AnimalCrossing.jpg" class="card-img-top" alt="Simulation Game 2">
                <div class="card-body">
                    <h5 class="card-title">Animal Crossing: New Horizons</h5>
                    <p class="card-text">Build your own paradise on a deserted island.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Action Games Section -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Action Games</h2>
            <hr />
        </div>

        <!-- Example Action Game 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/ACValhalla.jpg" class="card-img-top" alt="Action Game 1">
                <div class="card-body">
                    <h5 class="card-title">Assassin's Creed Valhalla</h5>
                    <p class="card-text">Lead your Viking clan to glory in this epic action-adventure.</p>
                </div>
            </div>
        </div>

        <!-- Example Action Game 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/CodMW.jpeg" class="card-img-top" alt="Action Game 2">
                <div class="card-body">
                    <h5 class="card-title">Call of Duty: Modern Warfare</h5>
                    <p class="card-text">Experience the intensity of modern combat in this thrilling action game.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Role-Playing Games (RPGs) Section -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Role-Playing Games (RPGs)</h2>
            <hr />
        </div>

        <!-- Example RPG Game 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/EldenRing.jpg" class="card-img-top" alt="RPG Game 1">
                <div class="card-body">
                    <h5 class="card-title">Elden Ring</h5>
                    <p class="card-text">Explore a vast, open world filled with danger and mystery in this critically acclaimed RPG.</p>
                </div>
            </div>
        </div>

        <!-- Example RPG Game 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/TheWitcher.jpg" class="card-img-top" alt="RPG Game 2">
                <div class="card-body">
                    <h5 class="card-title">The Witcher 3: Wild Hunt</h5>
                    <p class="card-text">Embark on an epic quest in this award-winning RPG.</p>
                </div>
            </div>
        </div>
    </div>
</div>
